# use the official gcc image, based on debian
# can use verions as well, like gcc:5.2
# see https://hub.docker.com/_/gcc/
image: gcc

stages:
  - doc
  - quality
  - build

include:
  - template: Code-Quality.gitlab-ci.yml

make_doc:
  stage: doc
  tags:
    - gl_router_runner
  only:
    refs:
      - master
    variables:
      - $CI_COMMIT_MESSAGE =~ /update-doc/
  script:
    - SOURCE_CODE=$(pwd)
    - cd /home/luo/runner-script;./router_doc_ci "$SOURCE_CODE" "$GITLAB_USER_NAME"

code_quality:
  stage: quality
  tags:
    - gl_router_runner
  script:
    - codeclimate  analyze -f json  ./ >./gl-code-quality-report.json
  artifacts:
    expose_as: 'Code Quality Report'
    paths: [gl-code-quality-report.json]


compile:
  stage: build
  tags:
    - gl_router_runner
  only:
    refs:
      - master
  script:
    - echo $CI_PROJECT_NAME
    - echo $CI_PROJECT_DIR
    - echo $CI_COMMIT_SHORT_SHA
    - echo $CI_COMMIT_MESSAGE
    - cd /home/luo/runner-script;./router_package_ci "$CI_PROJECT_NAME" "$CI_PROJECT_DIR" "$CI_COMMIT_SHORT_SHA" "$CI_COMMIT_MESSAGE"

